img{
	width: 100%;
	height: auto;
}img{
	width: 100%;
	height: auto;
}/* Scss Document */

@font-face {
    font-family: 'Merriweather', serif;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
	src: url("../font/SVN-Gilroy Regular.otf");
    font-family: 'SVN-Gilroy';
}


header, article, footer{
    font-family: 'SVN-Gilroy';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0; }
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  -webkit-transition: 0.2s, color 0.2s;
  transition: 0.2s, color 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease, ease;
          transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s; }
a:hover{
	color: #A46A14; 
}

html {
  scroll-behavior: smooth; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: #333; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

$brown:#7A3E0C;
$lightgray:#F6F6F6;

.bottom-right-0{
	bottom: 0;
	right: 0;
}

.bottom-left-0{
	bottom: 0;
	left: 0;
}

.fix-text {
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text3 {
    display: -webkit-box;
    line-height: 1.38;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text4 {
    display: -webkit-box;
    line-height: 1.38;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-merri{
    font-family: 'Merriweather', serif;
}
.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb-item{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    
    img{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.thumb-5x3 {
    padding-bottom: 60%;
}
.thumb-5x4 {
    padding-bottom: 66.67%;
}
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}
.fs-22 {
	font-size: 22px;
}
.fs-24 {
	font-size: 24px;
}
.fs-25 {
    font-size: 25px;
}
.fs-32 {
	font-size: 32px;
}
.fs-40 {
	font-size: 40px;
}
.fs-44{
	font-size: 44px;
}
.bg-base {
    background-color: #fff8f2;
//    #f2f2f4
}
.bg-white{
	a{
		color: black;
	}
}
.bg-blue{
    background-color: #21c9f6;
}
.bg-lightgray{
	background: $lightgray;
}
.bg-gradient{
//background: rgb(87,87,87);
//background: linear-gradient(0deg, rgba(87,87,87,0.8690826672465861) 0%, rgba(98,98,98,0.7290266448376226) 35%, rgba(120,120,120,0) 100%);
    background-image: linear-gradient(270deg, #7A3E0C 0%, #DFA845 100.06%);

}
.bg-gold{
	background: #E5B764;
}
.bg-darkgold{
	background: #A46A14;
}
.btn.bg-darkgold{
		&:hover{
			background: #E5B764;
		}
	}
.bg-brown{
	background: #2F1E06;
	a{
		color: white;
		&:hover{
			color: #A46A14;
		}
	}
}
.bg-lead{
	    position: absolute;
    z-index: 1;
    width: 45%;
    height: 100%;
    top: 10%;
    left: -6%;
    background-image: url(../images/icon/XMLID2.svg);
    background-repeat: no-repeat;
}
.bg-opacity{
   	background: linear-gradient(180deg, rgba(47, 30, 6, 0) 0%, #2F1E06 100%);
}
.bg-none{
	background-color: rgba(0,0,0,0.00);
}
.w-1120{
	max-width: 1120px;
}
.w-1142{
    max-width: 1142px; 
}
.w-1136{
	max-width: 1136px;
}
.text-darkblue{
    color: #273D52;
}
.text-lightgray{
    color: $lightgray;
}
.text-brown{
    color: $brown;
}
.text-gold{
    color: #A46A14!important;
}
.text-lightgold{
	color: #F5D8AC;
}
.text-dark500{
	color: #7D7C83;
}
.gold-ul{
    color: #4F4F4F;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.hover-shadow{
    transition: 0.3s;
	&:hover{
		transition: 0.3s;
		box-shadow: 0 7px 19px -8px #000000;
	}
}
#header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}
@mixin fluid-type($min-font-size, $max-font-size, $lower-range, $upper-range) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
p {
  @include fluid-type(14px, 20px, 600px, 1200px); 
  font-weight: normal
}
.h1-font{
    font-family: SVN-Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}
.h1-font-bold{
	font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 80px;
}
.h2-font{
    font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 56px;
	/* or 127% */

	letter-spacing: -1px;
}
.h3-font{
    font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
}
.h4-font{
    font-family: SVN-Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
}
.h5-font{
	font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
}
.sub-title-18{
    font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
}
.sub-title-16{
    font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}
.sub-title-14{
    font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}
.sub-title-12{
	font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}
.sub-title-8{
	font-family: SVN-Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	line-height: 15px;
}
.thumb-img{
	position: relative;
	height: 100%;
	overflow: hidden;
}
//$sizes: (
//  25: 25%,
//  50: 50%,
//  75: 75%,
//  100: 100%,
//);
//
//@each $breakpoint in map-keys($grid-breakpoints) {
//  @include media-breakpoint-down($breakpoint) {
//    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//    @each $prop, $abbrev in (width: w, height: h) {
//      @each $size, $length in $sizes {
//        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
//      }
//    }
//
//  }
//}
.main-aside{
    width: 330px;
}
.search-bar {
    border: 1px solid #7A3E0C;
    box-sizing: border-box;
    border-radius: 5px;
    width: 174px;
			.input-group-prepend{
				
				border-right: none;
			}
            .search-bar_input {
                padding: 8px 0px;
                box-shadow: none;
                margin-top: .2px;
				border: 2px solid #31B6E8;
                border-radius: 5px 0 0 5px;
				border-right: none;
            }
            .search-bar_input:hover {
                box-shadow: none;
            }
        }
.site-logo{
width: 212px;
}
.nav_desktop{
    background-color: #a00106;
    .nav_item{
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 13px 3px;
		a{
			color:#FFFFFF;
			@extend .sub-title-14;
			text-shadow: 0px 2px 4px #000000e0;
		}
		.dropdown-menu{
			.dropdown-item{
				transition: all .15s ease-in-out;
				padding-left: 12px;
				padding-right: 30px;
				color:#828282;
				font-weight: bold;
				text-shadow: none;
			}
		}
    }
    .nav_item:hover{
        a{
           color: #ffb74c;
        }
		.dropdown-menu{
			.dropdown-item:hover{
				color:$brown;
			    background-color: #fff;
				padding-left: 17px;
				padding-right: 25px;
			}
		}
    }
    .nav_item.active{
        border-bottom: 2px solid #A46A14;
        a{
            color: #FFFFFF;
        }
    }
}
@media all and (min-width: 992px) {
	.nav_desktop .nav_item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.nav_desktop .nav_item:hover .nav-link{ color: #fff;  }
	.nav_desktop .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.nav_desktop .dropdown-menu.fade-up{ top:180%;  }
	.nav_desktop .nav_item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
//@media all and (min-width: 992px) {
//	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
//	.navbar .nav-item:hover .nav-link{ color: #fff;  }
//	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
//	.navbar .dropdown-menu.fade-up{ top:180%;  }
//	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
//}
.slide-main {
        width: 100%;
        height: 660px;
	padding: 50px 0;
        right: 0;
		.carousel-indicators{
			z-index: 2;
			position: absolute;
			/* right: 0; */
			bottom: 5%;
			left: 65px;
			z-index: 3;
			display: flex;
			justify-content: flex-start;
			padding-left: 0;
			margin:auto;
			list-style: none;
		}
        .slide {
            width: 100%;
            height: 100%;
            .carousel-inner {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                .carousel-item {
                    width: 100%;
                    height: 100%;
                    .carousel-item-content {
                        display: flex;
						align-items: center;
						justify-content: center;
                    }
					.carousel-item-image{
						height: 100%;
						display: flex;
						align-items: center;
						.carousel-item-image-detail{
							width: 100%;
							img{
								height: 100%;
								width: 100%;
								object-fit: cover;
							}
						}
					}
                    a {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
			.carousel-control-section{
				position: absolute;
				height: 100%;
				width: 15%;
				right: -130px;
				top: 0;
				.carousel-control-prev,
				.carousel-control-next {
					z-index: 2;
					position: absolute;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-align: center;
					align-items: center;
					-ms-flex-pack: center;
					justify-content: center;
					width: 44px;
					height: 44px;
					border: 0.5px solid rgba(0, 0, 0, 0.2);
					border-radius: 50%;
					color: #7D7C83;
				}
				.carousel-control-prev{
					top: 50%;
					left: 50%
				}
				.carousel-control-next{
					top: 59%;
    				right: 24%;
				}
			}
        }
    }
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BDBDBD;
    opacity: 10;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: $brown;
}
.main-news{
	.main-news-article{
		max-width: 760px;
	}
	.main-news-aside{
		width: 320px;
		.card-body{
			.card-title{
				height: 50px
			}
		}
	}
}
.section-title{
    display: flex;
    align-items: center;
    @extend .h3-font;
    &:before{
	content: "";
    width: 50px;
    height: 36px;
	margin-left: -7px;
    display: inline-block;
    background-image: url("../images/icon/Lotus1.svg");
    background-repeat: no-repeat;
    }
	a{
		@extend .text-brown;
		&:hover{
			@extend .text-gold;
		}
	}
}

.cate-list{
    .cate-list_item{
        padding: 0 16px;
    }
}

.mini-news{
    .mini-news-item{
        padding-top: 44px;
    }
}

.aside-news-list{
	.aside-news-list-item{
		padding-top:32px;
	}
//	.aside-news-list_item:last-child{
//		border-bottom: none;
//	}
}
.article-news{
	.article-news-item{
		padding-bottom: 32px;
	}
}

/*--------------------------------search -----------------------------------------*/

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 8;
  width: 20px;
  height: 20px;
  transition: all .25s ease-in-out .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 182px;
  padding: 0 10px;
  outline: none;
  color: black;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
    height: 25px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 21px;
  height: 21px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: black;
  transform: rotate(45deg) translate(21px, -1px);
}
.side-news{
//    max-height: 315px;
    overflow: hidden
}
//.grid-col3{
//    display: grid;
////    grid-template-columns: repeat(3, 1fr);
////    grid-template-columns: 160px 160px 160px 160px 160px;
//    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
//    grid-gap: 0px 20px;
//}

.flex-col3{
	.flex-col3-item{
		border-right: 1px solid #dee2e6;
		&:last-child{
			border: none;
		}
	} 
}
.play-button{
    width: 40px;
    height: 40px;
    left:  20px;
	bottom: 20px;
//    background-color: rgba(220, 220, 220, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
	color: white;
    position: absolute;
    background: #e5b76485;
	border-radius: 50%;
	padding-left: 4px;
//	&::after{
//		content: "";
//		background-image: url("../images/icon/play-Vector.svg");
//		background-repeat: no-repeat;
//		position: absolute;
//		top: 0;
//		width: 20px;
//		height: 20px;
//	}
}
.play-time {
    padding:2px 6px;
    position: absolute;
    color: #ffffff;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    bottom: 0px;
    font-size: 14px;
    font-family:Roboto;
}
.mini-video-info{
    display: flex;
    font-family: SVN-Gilroy;
}
.btn-warning{
    color: #FFFFFF;
    background-color: #E5B764;
    border-color: #E5B764;
	width: 155px;
}
.seemore-button{
	.icon-right {
		position: absolute;
		top: 20%;
		transition: all 200ms ease-in-out;
		-webkit-transition: all 200ms ease-in-out; /** Chrome & Safari **/
		-moz-transition: all 200ms ease-in-out; /** Firefox **/
		-o-transition: all 200ms ease-in-out; /** Opera **/
	}
	&:hover{
		.icon-right{
			transform: translate(10px,0);
			color: #A46A14;
			-webkit-transform: translate(10px,0); /** Chrome & Safari **/
			-o-transform: translate(10px,0); /** Opera **/
			-moz-transform: translate(10px,0); /** Firefox **/
		}
		color: #A46A14;
	}
}
.item1{
    order: 1;
}
.item2{
    order: 2;
}
.item3{
    order: 3;
}
.aside-section{
    width: 300px;
}

//search bar
.sb-search {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    outline: none;
    background: #fff;
    width: 85%;
    height: 60px;
    margin: 0;
    z-index: 10;
    /* padding: 20px 65px 20px 20px; */
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
 
input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder {
    color: #21c9f6;
}
 
.sb-search-input:-moz-placeholder {
    color: #21c9f6;
}
 
.sb-search-input::-moz-placeholder {
    color: #21c9f6;
}
 
.sb-search-input:-ms-input-placeholder {
    color: #21c9f6;
}

.sb-icon-search,
.sb-search-submit  {
        width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 4px;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    color:#21c9f6;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: black;
    background: white;
    z-index: 90;
    font-size: 20px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    /* border: 1px solid black; */
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.sb-icon-search:before {
    content: "";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 300%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: white;
    color: #21c9f6;
    z-index: 11;
    justify-content: center;
    align-items: center;
    border: 1px solid #21c9f6;
    display: flex;
    border-radius: 5px;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
/*    z-index: 90;*/
}
.btn-outline-dark-custom{
    color: #828282;
    border-color: #828282;
    margin-left: 8px;
    font-size: 12px;
    padding: 6px 16px;
    font-weight: bold;
    &:hover{
        color: #fff;
    background-color: #E5B764;
    border-color: #E5B764;
    }
}

.slick-image-lib{
	position: relative;
	.slick-controls{
		top: 245px;
		.previous, .next{
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #E5B764;
			outline: none;
			border: none;
			border-radius: 7px;
			i{
				font-size: 35px;
			}
			
		}
		.previous{
			left: -88px;
		}
		.next{
			right: -88px;
		}
	}
}
.brown-section{
    background-color: #2F1E06;
	padding: 80px 0;
        .section-title{
            display: flex;
            align-items: center;
            color: #ffffff;section-title
			a{
				color: #FFFFFF
			}
    }
    .cate-list{
		padding: 40px 0 0 0;
        .cate-list_item:first-child{
            border-left: none;
			padding-left: 0;
        }
        .cate-list_item{
			@extend .sub-title-16;
			line-height: 16px;
            padding: 0 20px;
			border-left: 1px solid #ffffff57;
        }
    }
	.expand-menu{
		.dropdown-toggle-split{
			background: linear-gradient(90deg, rgba(251,251,251,0) 0%, rgba(255,255,255,0.577468487394958) 100%);
		}
	}
	.lead-top{
		    width: 400px;
    right: -8%;
    top: -26%;
    z-index: 0;
    opacity: 0.1;
	}
}

.social-icon{
	width: 32px;
	height: 32px;
	background: #bdbdbd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
//.scroll {
//    color: #fff;
//    margin-top: 100px
//}
//
//#toTopBtn {
//    position: fixed;
//    bottom: 26px;
//    right: 39px;
//    z-index: 98;
//    padding: 21px;
//    background-color: hsla(5, 76%, 62%, .8)
//}
//
//.js .cd-top--fade-out {
//    opacity: .5
//}
//
//.js .cd-top--is-visible {
//    visibility: visible;
//    opacity: 1
//}
//
//.js .cd-top {
//    visibility: hidden;
//    opacity: 0;
//    transition: opacity .3s, visibility .3s, background-color .3s
//}
//
//.cd-top {
//    position: fixed;
//    bottom: 20px;
//    bottom: var(--cd-back-to-top-margin);
//    right: 20px;
//    right: var(--cd-back-to-top-margin);
//    display: inline-block;
//    height: 40px;
//    height: var(--cd-back-to-top-size);
//    width: 40px;
//    width: var(--cd-back-to-top-size);
//    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
//    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
//    background-color: hsla(5, 76%, 62%, .8);
//    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
//}
.back-to-top {
    position: sticky;
    top: 873px;
    width: 40px;
    height: 40px;
    border: 1px solid #E5E5E5;
	
//    display: none;
}
.expand-menu{
	.dropdown-menu{
		width: 100%;
		top: 50px;
		border: none;
		margin-top: 42px
	}
	.dropdown-toggle-split{
		background: linear-gradient(90deg, rgba(251,251,251,0) 0%, rgba(0,0,0,0.577468487394958) 100%);
	}
	.expand-menu-cate-name{
		white-space: nowrap;
		display: inline-table
	}
}
.news-description{
	background-image:url("../images/Group 1175.svg");
	background-size: cover;
	background-repeat: no-repeat;
	&-text{
		border-left: 1px solid white;
	}
}
.new-detail-description{
	&-text{
		border-left: 2px solid $brown;
	}
}
.news-category{
	border-bottom: 2px solid #C4C4C4;
	a{
		@extend .h4-font;
		color: #828282;
		padding: 8px 0;
	}
}
.comment-form{
	.new-comment{
		textarea{
			border-bottom: 2px solid #7A3E0C;
			border-top: none;
			border-left: none;
			border-right: none;
		}
		.form-control:focus{
			box-shadow: none;
		}
	}
	.old-comment{
		&-item{
			border-bottom: 1px solid #828282;
			margin-bottom: 16px;
			padding-bottom: 16px;
		}
	}
}

.gold-ul{
	list-style-type: none;
	li{
		@extend .h3-font;
		position: relative;
		&::before{
			background-color: #E5B764;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: 10px;
			width: 10px;
			position: absolute;
			top: 8px;
			left: 0px;
		}
	}
}

// floating video
	@keyframes fade-in-up {
	 0% {
		 opacity: 0;
	}
	 100% {
		 transform: translateY(0);
		 opacity: 1;
	}
}

.video iframe {
	 max-width: 100%;
	 max-height: 100%;
}

.video.stuck {
	 position: fixed;
	 bottom: 20px;
	 right: 20px;
	 width: 260px;
	 height: 145px;
	 transform: translateY(100%);
	 animation: fade-in-up 0.75s ease forwards;
	z-index: 1;
}
///////////

//video tiep theo
.next-video{
	overflow-y: scroll;
	position: absolute;
		&::-webkit-scrollbar {
		  width: 6px;
		  background: #BDBDBD;
		}

		/* Track */


		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: #333333; 
		}
	.mini-news{
		position: absolute;
//		overflow-y: scroll;
//		&::-webkit-scrollbar {
//		  width: 6px;
//		  background: #BDBDBD;
//		}
//
//		/* Track */
//
//
//		/* Handle */
//		&::-webkit-scrollbar-thumb {
//		  background: #333333; 
//		}
	}
}
///////////
.list-video{
	.lead-thumb{
		top: 0;right:0; width: 25%;
	}
}

.card {
   margin-bottom: 1rem;
}

.list-view {
  .row {
    > [class*='col-'] {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .card {
    @media (max-width: 575.98px) {
     flex-direction: column;
    }
    flex-direction: row;
    > .card-img-top {
     width: auto;
    }
    
    .card-body {
      display: inline-block;
    }
  }
}

.grid-container{
	.card{
		@extend .bg-base;
		border: none;
	}
}

.list-view{
	.card{
		.card-img-top{
			width: 26%;
		}
		.list-view-detail{
			display: flex;
			align-items: center;
			padding: 0px 15px;
			a{
				@extend .h2-font;
			}
		}
	}
}

.grid-list-button{
	right: 0;
	button[class*="v-"] {
	  position: absolute;
	  border: none;
	  right: 0;
	  background: #0f000000;
	  color: #BDBDBD;
		border: none;
	  font-family: 'SVN-Gilroy', sans-serif;
	  text-align: center;
	  text-decoration: none;
		&:focus{
			outline: none;
		}
		i{
			font-size: 32px;
		}
	}
	button[class*="v-"].v-list {
	  right: 42px;
	//  background: #c4c4c4;
	}
	//button[class*="v-"]:hover, button[class*="v-"]:focus {
	//  background: #444444;
	//}

	button.v-grid.active {
		color: #4F4F4F;
	}

	button.v-list.active {
		color: #4F4F4F;
	}
}

.grid-image-lib{
	.wrapper {
        display: grid;
        grid-gap: 16px;
        grid-template-columns:  repeat(16, 55px);
  		grid-template-rows: repeat(9, 55px);
	}
	.box {
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		background-color: #2B2A2A;
		&:first-child{
			grid-column: 1/6;
	  		grid-row: 1/4;
		}
		&:nth-child(2){
			grid-column: 6/9;
	  		grid-row: 1 / 4;
		}
		&:nth-child(3){
			grid-column: 9/17;
	  		grid-row: 1/6;
		}
		&:nth-child(4){
			grid-column: 1/9;
	  		grid-row: 4/10;
		}
		&:nth-child(5){
			grid-column: 9/17;
	  		grid-row: 6/10;
		}
	}
}
.grid-image-lib1{
	.wrapper {
        display: grid;
        grid-gap: 16px;
        grid-template-columns:  repeat(16, 55px);
  		grid-template-rows: repeat(9, 55px);
	}
	.box {
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		background-color: #2B2A2A;
		&:first-child{
			grid-column: 1/9;
	  		grid-row: 1/6;
		}
		&:nth-child(2){
			grid-column: 9/14;
	  		grid-row: 1/4;
		}
		&:nth-child(3){
			grid-column: 14/17;
	  		grid-row: 1/4;
		}
		&:nth-child(4){
			grid-column: 1/9;
    		grid-row: 6/10;
		}
		&:nth-child(5){
			grid-column: 9/17;
	  		grid-row: 4/10;
		}
	}
}
.list-grid-section{
	.wrap {
	  position: relative;
	  min-height: 100%;
	}

	.module {
	  width: 100%;
		margin: 8px 0 0;
	}

	.grid {
	  position: relative;
		width: 33.33%;
		float: left;
		.event-item{
			padding: 0 16px;
			.lead{
				a{
					@extend .h3-font;
					color: #273D52;
				}
			}
		}
	}
	@media screen and (max-width: 860px) {
	  .grid {
		width: 50%;
	  }
	}
	@media screen and (max-width: 600px) {
	  .grid {
		width: 100%;
		padding-bottom: 5px;
		border-bottom: 1px solid #c4c4c4;
	  }
	}

	.list {
		border-bottom: 1px solid #c4c4c4;
		width: 81%;
		margin: 0 auto;
		padding: 16px 0;
		.event-item{
			display: flex;
			align-items: center;
			.event-item-image{
				width:31%;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.list .lead {
	  float: right;
	  width: 67.5%;
		display: flex;
    	align-items: center;
		padding-left: 16px;
		a{
			@extend .h2-font;
			color: #273D52;
		}
	}
//	.list img {
//      padding-right: 16px;
//	}
	@media screen and (max-width: 860px) {
	  .list .lead {
		width: 50%;
	  }
	  .list img {
		max-width: 50%;
	  }
	}
	@media screen and (max-width: 600px) {
	  .list .lead {
		width: 100%;
	  }
	  .list img {
		max-width: 100%;
	  }
	}
}
.img-lib-comment{ 
	height: 451px;
}

.modal-custom{
	.modal-dialog{
		max-width: 1120px;
		.modal-content{
			button{
				width: 50px;
				height: 50px;
				border-radius: 50px;
				background: $brown;
				top: -25px;
				right: -25px;
				opacity: 1;
				span{
					font-size: 25px;
					color: white;
				}
			}
		}
	}
}
.new-detail-description-text{
	 border-left: 2px solid #7A3E0C;
	.count-image{
		position: absolute;
		top: 0;
		left: 0;
	}
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-custom{
	.nav{
		border-bottom: 1px solid #E5B764;
		.nav-link{
			padding: 8px 0;
			&:hover{
				color: $brown;
			}
		}
		.nav-item{
			margin-right: 16px;
		}
	}
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
		color: $brown;
		background: rgba(0,0,0,0.00);
		border-bottom: 2px solid #E5B764;
		border-radius: 0;
	}
}

@media (min-width: 576px){
.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
}
.focus-none{
	&:focus{
		box-shadow:none;
	}
}

.img-list-grid{
	z-index: 3;
	.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    	color: #4F4F4F;
		background-color: #007bff00;
		
	}
	.nav-pills .nav-link{
		color: #BDBDBD; 
		font-size: 30px;
	}
}

.gallery-wrapper {
    overflow: hidden;
	.gallery-wrapper-item{
		.gallery-wrapper-item-tag{
			&-left{
				height: 10px;
				background: #f2a10e;
				z-index: 1;
				width: 3rem;
				top: 64px;
				left: -48px;
				&::after{
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					background: #f2a10e;
					top: -5px;
					left: -10px;
					z-index: 3;
					border-radius: 50%;
				}
			}
			&-right{
				height: 10px;
				background: #f2a10e;
				z-index: 1;
				width: 3rem;
				top: 25px;
				right: -48px;
				&::after{
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					background: #f2a10e;
					top: -5px;
					right: -10px;
					z-index: 3;
					border-radius: 50%;
				}
			}
			
		}
	}
//	.gallery-wrapper-item:nth-child(odd){
//		.gallery-wrapper-item-tag{
//			left: -3rem;
//			top: 64px;
//			&::after{
//				left: -10px;
//			}
//		}
//	}
//	.gallery-wrapper-item:nth-child(even){
//		.gallery-wrapper-item-tag{
//			right: -3rem;
//			top: 25px;
//			&::after{
//				right: -10px;
//			}
//		}
//	}
}

.mansory {
  column-count: 2;
  column-gap: 0.5em;
  >div {
    width: 100%;
    display: inline-block;
    color: #ffffff;
    &.mansory-item-small {
      height: 167px;
      background: #1CAF9A;
		margin-bottom: 10px;
    }
    &.mansory-item-big {
      height: 254px;
      background: #EE6456;
		margin-bottom: 10px;
    }
  }
}

.grid-item {
    padding-bottom: 3rem;
}
.sidebar {
    text-align: center;
    padding: 1rem;
    background: red;
    height: 900px;
}

.border-timeline{
	border: 3px solid #f3e9ce;
	left: 49.8%;
}

.img-lib-sidebar{
	right: 100%;
}

.lightgray-section{
	height: 900px;
}

.mes-icon{
	width: 23px;
	height: 23px;
}
.count-cmt{
	@extend .sub-title-14;
	@extend .text-dark500;
	position: relative;	
	padding-left: 25px;
	padding-top: 14px;
	&::before{
		content: "";
		position: absolute;
		width: 23px;
		height: 23px;
		left: -4px;
		background-image: url("../images/icon/Message.svg");
		background-size: contain;
	}
}
.count-view{
	@extend .count-cmt;
	margin-left: 23px;
	&::before{
		width: 28px;
		height: 23px;
		left: -4px;
		background-image:url("../images/icon/Frame (2).svg");
		background-repeat: no-repeat;
	}
}
.count-like{
	@extend .count-cmt;
	margin-right: 23px;
	&::before{
		width: 28px;
		height: 16px;
        left: -4px;
    	bottom: 4px;
		background-image:url("../images/icon/like-Vector.svg");
		background-repeat: no-repeat;
	}
}

.section-cate{
//	overflow-y: auto;
	&::before{
		content: "";
    height: 19px;
    width: 3px;
    background: #A46A14;
    top: 2px;
    position: absolute;
	}
	position: relative;
	margin-top: 36px;
	.section-cate-name{
		@extend .h4-font;
		padding: 0 20px 0 12px;
		white-space: nowrap;
	}
	.section-cate-item{
		color: black;
		padding: 0 20px;
		border-left: 1px solid #79797982;
		white-space: nowrap;
		@extend .sub-title-16;
		font-weight: 600;
	}
	&.section-cate-p-0{
		padding-bottom: 0!important;
	}
}
.header-section-cate{
	@extend .section-cate;
	&::before{
		content: "";
    height: 14px;
    width: 3px;
    background: #A46A14;
    top: 8px;
    position: absolute;
	}
	position: relative;
	margin-top: 0;
}

.date-news{
	padding: 20px 0 8px 0;
	@extend .text-dark500;
}

.header-cate-menu{
	padding-top: 10px;
	.header-cate-menu-item{
		padding-bottom: 10px;
	}
}
.half-lead{
	position: absolute;
	margin: auto;
	    top: 63%;
    height:317px;
	width: 264px;
	img{
		opacity: 0.05;
	}
}
.head-background{
	margin-top: -155px; 
	z-index: 2;
	.head-background-content{
		display: flex;
		align-items: flex-end;
		bottom: 0;
		color: white;
		background: linear-gradient(180deg, rgba(47, 30, 6, 0) 0%, #2F1E06 100%);
	}
}
.topic{
	.topic-item{
		padding: 8px 32px 6px 20px;
		border-radius: 4px;
		border: 1px solid #CCCCCC;
		margin-bottom: 8px;
		margin-right: 8px;
	}
}
.site-lever{
	i{
		@extend .text-dark500;
	}
	.site-lever-item{
		display: block;
		@extend .text-dark500;
		&:first-child{
			color: black;
		}
	}
}
.under-header{
	margin-top: -102px;
	padding-top: 102px;
}
.video-section{
	.video-section-item{
		.video-section-item-detail{
			border-bottom: 1px solid #69440D;
			padding-bottom: 40px;
    		padding-top: 40px;
		}
		&:last-child{
			.video-section-item-detail{
				border-bottom: none;
			}
		}
	}
}
.fixed-top{
	z-index: 3!important;
}
.round-button{
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 50%;
}
.video-comment{
	padding: 0 0 32px;
	border-top: 1px solid #50422e;
	border-bottom: 1px solid #50422e;
	textarea,input{
		background: rgba(255, 255, 255, 0.04);
		border: 1px solid rgba(255, 255, 255, 0.15);
		box-sizing: border-box;
		border-radius: 4px;
		padding: 14px 16px;
		margin-bottom: 20px;
		color: white;
		@extend .sub-title-16;
		&:focus{
			background: rgba(255, 255, 255, 0.04);
			color: white;
		}
	}
}
.comment-detail{
	.comment-detail-item{
		padding-top: 40px;
		.comment-detail-item-img{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			img{
				object-fit: cover;
				height: 100%;
    			border-radius: 50%;
			}
		}
		.comment-detail-item-text{
			color: #E3E3E4;
			margin-top: 16px;
//			@extend .fix-text4;
//				line-height: 1.5;
		}
	}
}

.top-main-carousel{
    width: 100%;
    height: 900px;
    margin-top: -126px;
    z-index: 2;
    overflow: hidden;
    position: relative;
    .slick-list{
        height: 100%;
        .slick-track{
            height: 100%
        }
    }

    .slick-prev-custom, .slick-next-custom{
        position: absolute;
        z-index: 4;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.3);
        border: 0.5px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;	
        top: 89%;
        color: white;
        font-size: 22px;
        &:focus{
            outline:none;
        }
    }
    .slick-prev-custom{
        right: 14%;
    }
    .slick-next-custom{
        right: 10%;
    }
    .top-main-carousel-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .slideshow-item{
        display: flex;
        align-items: center;
        justify-content: center;
        .slideshow-item-content{
            position: absolute;
            left: 0px;
            right: 0px;
            width: 1136px;
            margin: 0px auto;
        }
		.slideshow-item-text{
			font-size: 44px;
			
		}
    }
}
.slide-count{
    top: 91%;
    z-index: 2;
    width: 100%;
    padding: 30px 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}


footer{
	padding: 60px 0 80px;
	position: relative;
	overflow: hidden;
	&::before{
		content: "";
		height: 100%;
		width: 50%;
		position: absolute;
		left: -25%;
		top: 0;
		background-repeat: no-repeat;
		background-image: url(../images/icon/XMLID2.svg);
		background-size: 100% 124%;
	}
	&::after{
		content: "";
		height: 100%;
		width: 50%;
		position: absolute;
		right: -25%;
		top: 0;
		background-repeat: no-repeat;
		background-image: url(../images/icon/XMLID2.svg);
		background-size: 100% 124%;
	}
}
.footer-cate{
	width: 610px;
	padding: 36px 0 12px;
	.footer-cate-item{
		padding: 0 14px 19px 14px;
    	display: block;
	}
	a{
		font-family: SVN-Gilroy;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
	}
}

.cd-auto-hide-header {
  position: sticky;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #00000026;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
//    height: 100px;
    
  }
}

// ---------------------------------------- //

// -------------ngo van tien--------------- //

// ---------------------------------------- //

.w-1136-t {
	max-width: 1136px;
	margin: auto;
}
.w-1136-intro {
	width: 1136px;
}
.w-940-t {
	max-width: 940px;
	margin: auto;
}
.w-744-t {
	max-width: 744px;
	margin: auto;
}
.w-548-t {
	max-width: 548px;
	margin: auto;
}
.text-gray-t, .text-gray-t a{
	color: #7D7C83;
}
.text-upper {
	text-transform: uppercase;
}
.text-black-t a {
	color: black;
}
.text-white, .text-white > a {
	color: white;
}
.text-brown-t {
	color: #A46A14;
}
.category-title-t {
	padding: 24px 0;
}
.t-upper {
	text-transform: uppercase;
}
.send-form-t {
	display: inline-block;
	border-bottom: 2px solid #A46A14;
}
.image-contact-t > img {
	width: 100%;
	height: auto;
}
input, textarea, select {
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	border: 1px solid #eee;
	border-radius: 4px;
	color: #7D7C83;
	outline: none;
}
.btn-search, .btn-search:focus {
	outline: none;
	border: none;
	background: transparent;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

} 
.dropdown-list {
	position: relative;
	z-index: 2;
	border-top: 1px solid #ECECED;
	padding: 24px 0 24px 0;
}
.dropdown-list:last-child {
	border-bottom: 1px solid #ECECED;
}
.dropdown-list__div {
	position: relative;
	z-index: 2;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.5s;
	margin: 16px 0 0 0;
	display: none;
}
.dropdown-list__icon,.dropdown-list__iconMobile {
	cursor: pointer;
}
.dropdown-list.open .dropdown-list__div {
	height: auto;
	opacity: 1;
	display: block;
}
.dropdown-list.open .fa-angle-right {
	transform: rotate(-90deg);
	color: #A46A14;
}
.btn-1 {
	border: none;
	outline: 0;
	background: transparent;
}
.btn-white {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding:  6px 10px;
}

.container-flex__t {
	display: flex;
	flex-wrap: wrap;
	
}
.container-flex__t > div {
	margin: 7px;
}
.container-record__t {
	display: flex;
	flex-wrap: wrap;
}
.bg-pink-t {
	background: #f6f6f6;
}
.bg-white-t {
	background: white;
}
.leaf_t {
	width: 395px;
	height: 678px;
	position: absolute;
	top: -248px;
	right: -105px;
}
.leaf_t > img {
	width: 100%;
	height: auto;
}
.detail-title_t {
	margin-bottom: 20px;
}
.detail-time_t {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.active-record {
	background: #47474b;
}
.active-record > a {
	color: white;
}
.container-record__t > div {
	margin: 5px;
}
.detail-content__t1 {
	font-size: 18px;
}
.detail-avatar {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.detail-avatar__image {
	width: 40px;
	height: 40px;
	object-fit: cover;
	margin-right: 10px;
}
.detail-avatar__image > img {
	width: 100%;
	height: auto;
}
.h3-gil-t {
	font-size: 64px;
	font-weight: 600;
	font-style: normal;
	line-height: 80px;
}
.contact-title-t {
	padding: 100px 0;
}
.bg-responsive-t {
	background: white;
}
.contact-t {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(0,1fr));
}
.send-form-t {
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	margin: 100px 0;
}
.contact-email__title {
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
}
.from-title-t {
	padding: 80px 0 40px 0;
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
}
.from-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-gap: 0 20px;
}
.from-group {
	margin-bottom: 20px;
}
.btn {
	outline: 0;
	border: none;
	padding: 10px 30px;
}
.btn-brown {
	border: 1px solid #A46A14;
	background: #A46A14;
	color: white;
}
.qa-title-t {
	padding: 100px 0 80px 0;
}
.recent-question {
	font-size: 16px;
	font-style: normal;
	margin: 40px 0 25px 0;
}
.btn-pink__t {
	border: 1px solid #ccc;
	background: #f6f6f6;
	color: black;
}
.h4-gil-t {
	font-size: 44px;
	font-weight: 600;
	font-style: normal;
	line-height: 40px;
	padding: 60px 0 34px 0;
}
.detail-block1 {
	padding-right: 30px;
}
.detail-block2 {
	padding-left: 50px;
	padding-top: 60px;
}
.detail-content--padding {
	padding-bottom: 40px;
}
.detail-line__t {
	width: 100%;
	height: 1px;
	background: #eee;
	margin: 50px 0;
}
.button-edit {
	width: 32px;
	height: 32px;
	border: 1px solid #7D7C83;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-edit i {
	color: #7D7C83;
	font-size: 16px;
}
.icon-padding-t {
	padding-right: 10px;
}
.detail-line-t {
	width: 100%;
	height: 1px;
	background: #eee;
	margin: 0 0 40px 0;
}
.seen-qa-t {
	padding: 100px 0 50px 0;
}
.btn--seen {
	width: 100%;
}
.search-title-t {
	font-size: 44px;
	color: black;
	font-style: normal;
	font-weight: 600;
	padding: 0 0 20px 0;
}
.search-description-t {
	font-size: 18px;
	color: black;
	font-weight: 400;
	font-style: normal;
	padding: 0 0 40px 0;
}
.text-capital-t {
	text-transform: capitalize;
}
.search-img-tittle {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 28px;
	padding: 8px 0;
}
.search-img-t > a {
	display: block;
	cursor: pointer;
}
.search-img-icon > span {
	margin-right: 20px;
}
.search-img-t {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
.search-img-t img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

div > p > a > img {
	width: 100%;
}
.search-img-desc {
	padding: 24px 0 40px;
}
.posts-img-desc {
	padding: 24px 0 40px;
}
.library-title-t {
	font-size: 44px;
	color: black;
	font-style: normal;
	font-weight: 600;
}
.library-detail-intro {
	padding: 0 0 20px 0;
}
.library-items-t {
	padding: 12px 0 20px 0;
}
.library-number-t {
	padding: 0 0 80px 0;
}
.library-items-t > ul {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.library-items-t > ul > li {
	padding: 0 40px;
	border-right: 1px solid #bbbbbb;
}
.library-items-t > ul > li:first-child {
	padding-left: 0;
}
.library-items-t > ul > li:last-child {
	border-right: none;
}
.library-items-t > ul > li > a {
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
}
.library-line-t {
	width: 100%;
	height: 1px;
	background-color: #E3E3E4;
	margin-bottom: 40px;
}
.library-img-desc {
	padding: 20px 0 32px;
}
.library-img-tittle {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 28px;
	padding: 0 0 8px 0;
}
.bg-pink-pc {
	background-color: #f6f6f6;
}
.library-items-t ul li a.active {
	color: #A46A14;
}
.tabcontent {
	display: none;
}
.tabcontent.active_tabcontent{
	display: block;
}
.library-row-t {
	display: flex;
	flex-wrap: wrap;
	/*padding-bottom: 80px;*/
}
.library-column-t {
	flex: 33.33%;
	padding-left: 40px;
}
.library-column-t:first-child {
	padding-left: 0;
}
.library-column-t > img {
	width: 100%;
	vertical-align: middle;
	margin-bottom: 40px;
	cursor: pointer;

}
.library-column-t > img:last-child {
	margin-bottom: 0;
}
.btn-brown-t {
	border: 1px solid #E3E3E4;
	border-radius: 4px;
	padding:  10px 30px;
	background: white;
}
.btn-brown-t > a {
	color: #A46A14;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
}
.bg-popup {
	width: 100%;
	height: auto;
	background: #adadad;
	padding: 80px 90px;
}
.popup-container {
	max-width: 1260px;
	height: auto;
	background: white;
	padding: 40px;
	margin: auto;
	
}
.popup-block {
	max-width: 100%;
	height: auto;
	overflow: hidden;
}
/*.popup-mySlides {
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}*/

.popup-icon {
	padding: 40px 0 40px 0;
	display: flex;
    justify-content: flex-end;
}
.popup-title-t {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	padding-bottom: 40px;
}
.popup-title-t1 {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	padding: 70px 0 40px 0;
}
.popuo-icon-close {
	position: fixed;
	top: 5%;
	left: 5%;
}
.carousel-control-next-icon {
	position: fixed;
	top: 50%;
	right: 14%;
	outline: none;
	border: none;
	background: transparent;
}
.carousel-control-prev-icon {
	position: fixed;
	top: 50%;
	left: 14%;
	outline: none;
	border: none;
	background: transparent;
}
.popuo-icon-close > i {
	color: #cfcfcf;
	font-size: 30px;
	cursor: pointer;
}
.carousel-control-prev-icon >  i, .carousel-control-next-icon > i {
	font-size: 56px;
	color: #cfcfcf;
	cursor: pointer;
}
.carousel-control-prev-icon > i:hover, .carousel-control-next-icon > i:hover,.popuo-icon-close > i:hover {
	color: #fff;
}
.theme-title {
	padding: 16px 0 40px 0;
}
.posts-title-t {
	font-size: 44px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.3;
	padding: 80px 0 20px 0;
}
.posts-time-t {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	padding-bottom: 50px;
}
.post-image-t {
	width: 100%;
	height: auto;
}
.post-image-t > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.full-screen-mobile {
	padding-left: 0;
	padding-right: 0;
}
.dosts-category {
	padding: 50px 0;
}
.dosts-intro {
	font-size: 24px;
	padding-bottom: 50px;
	font-style: normal;
	font-weight: 600;
}
.dost-content2 {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
}
.dost-content {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
}
.dost-content--brown {
	font-weight: 600;
	color: #A46A14; 
}
.dosts-img-fullScreen {
	width: 100%;
	height: auto;
}
.dosts-img-fullScreen > img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.dost-content1 {
	border-left: 4px solid #A46A14;
	padding-left: 16px;
	margin: 34px 0 50px 0;
}
.comment-title,.comment-title1 {
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	padding: 80px 0 40px 0;
}
.comment-line {
	width: 100%;
	height: 1px;
	background-color: #E5E5E5;
	margin: 40px 0;
}
.comment-user {
	padding-bottom: 40px;
}
.comment-user:last-child {
	padding-bottom: 0;
}
button.btn-2 {
    border: none;
    outline: none;
    background: transparent;
    color: #adadad;
}
button.btn-2:hover {
	color: #144DA3;
}
button.btn-2.active {
	color: #144DA3;
}
.btn-pink {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	background: #ececed;
}
.posts-container {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-gap: 0 40px;
}
.posts-items-title {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	line-height: 28px;
	padding: 8px 0;
}
.text-normal {
	text-transform: none;
}
.posts-icon-fixed {
	position: fixed;
	top: 50%;
	left: 16%;
}
.posts-icon-fixed > div {
	padding-bottom: 15px;
}
.dosts-img-fullScreen {
	position: relative;
	z-index: 100;
}
.container-t {
	position: relative;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}
.container-t2 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 500px;
}
.container-t3 {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 912px;
}
.container-t > img {
	width: 100%;
	height: auto;
}
.container-text-t {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.container-text-t2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.container-text-t3 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.intro-text1 {
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	color: #F5D8AC;
	padding-bottom: 20px;
}
.intro-text2 {
	font-size: 80px;
	font-weight: 600;
	font-style: normal;
	color: #F5D8AC;
	padding-bottom: 25px;
	text-transform: capitalize;
	line-height: 0.9;
}
.intro-text3 {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	color: #E8A644;
}
.intro-items > ul {
	text-align: end;
}
.intro-items > ul > li {
	padding-bottom: 15px;
}
.intro-items > ul > li > a {
	font-size: 14px;
}
.intro-lineColumn {
	width: 1px;
	height: 16px;
	background-color: #fff;
	margin: auto;
	margin-top: 15px;
	opacity: 0.3
}
.intro-img {
	max-width: 487px;
	max-height: 840px;
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%,-30%);
}
.intro-img3 {
	max-width: 487px;
	max-height: 840px;
	position: absolute;
	right: -60px;
	bottom: -170px;
}
.intro-img > img {
	width: 100%;
	height: 100%;
}
.intro-img3 > img {
	width: 100%;
	height: 100%;
}
.w-940-intro {
	width: 940px;
}
.intro-text4 {
	font-size: 44px;
	font-weight: 600;
	font-style: normal;
	text-align: center;
}
.intro-text9 {
	font-size: 44px;
	font-weight: 600;
	font-style: normal;
}
.intro-text5 {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	padding-top: 20px;
}
.intro-text10 {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	padding-top: 20px;
}
.container-text-t4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.intro-block {
	padding-top: 80px;
	padding-bottom: 50px;
}
.intro-text6 {
	font-weight: 600;
	font-size: 32px;
	font-style: normal;
	padding-bottom: 32px;
}

.intro-text7 {
	font-weight: 400;
	font-size: 18px;
	font-style: normal;
}
.intro-text8 {
	font-weight: 600;
	font-size: 18px;
	font-style: normal;
}

.intro-img1 {
	width: 100%;
	height: auto;
	padding-bottom: 16px;
}
.intro-img1 > img{
	width: 100%;
	height: auto;
}
.intro-img2 {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 2;
}
.intro-img2 > img{
	width: 100%;
	height: auto;
}
.bg-leaves {
	background-image: url('../images/29.png');
	width: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}
.bg-leaves2 {
	background-image: url('../images/30.png');
	/*width: 100%;*/
	background-position-x: right;
	background-position-y:bottom;
	background-repeat: no-repeat;
}
.leaves-text {
	padding-top: 150px;
	padding-bottom: 150px;
	max-width: 940px;
	margin: auto;
}
.dropdown-comment-div {
	position: relative;
	z-index: 2;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.5s;
	display: none;
}
.dropdown-comment.open .dropdown-comment-div {
	height: auto;
	opacity: 1;
	display: block;
}
.dropdown-comment.open .fa-comment {
	color: #144DA3;
}
.fix-text3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pb-80 {
	padding-bottom: 80px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-20 {
	padding-top: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-20 {
	padding-right: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.ml-20 {
	margin-left: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.fw-600 {
	font-weight: 600;
}
.fw-400 {
	font-weight: 400;
}


